@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css);

.btn-success,.btn-danger,.btn-primary,.btn-info {
    cursor: pointer;
    border-width: 5px;
    border-style: double;
    border-color: white;


}
