@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css);

.btn-success, .btn-danger, .btn-primary, .btn-info {
    cursor: pointer;
    border-width: 5px;
    border-style: double;
    border-color: white;

}

.centrar {
    position: absolute;
    left: 35%;
    top: 20%;
    height: 5%;
    width: 40%;
}

body {
    background: beige;
}
.TFtable th{
    background-color: dodgerblue;
    padding:7px; border:white 2px solid;
    color:black;
}
.TFtable td{
    padding:7px; border:white 2px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
    background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
    background: #dae5f4;
}